<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<span th:insert="~{/admin/adminBase::adminLinks}"></span>
	<style>
		.navcol,
		footer {
			/* background-color: #B204FF; */
			background-color: #2e7272;
		}

		a {
			text-decoration: none;
		}

		.view-image {
			height: 15em;
			width: 10em;
		}

		.vv {
			height: 79.6vh;
		}

		.logo {
			width: 40px;
			height: 40px;
			border-radius: 35px;
		}

		@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

		body {
			color: #272727;
			font-family: 'Quicksand', serif;
			font-style: normal;
			font-weight: 400;
			letter-spacing: 0;

		}
	</style>
</head>

<body>
	<nav th:replace="~{student/studentBase::navs}"></nav>
	<div class="d-flex justify-content-end fs-5 mt-2 mx-3">
		<a href="/student/issuedBooks/0" class="btn button  btn-outline-success">Back</a>
	</div>
	<th:block th:if="${viewFields}=='true'">
		<div class="card mt-2 vv">
			<div class="card-body p-0 m-0">
				<h4 class="p-2 m-2 mx-2">Viewing Issued Book Details</h4>
				<div style="height: 4px; background-color: orange;"></div>
				<div class="row m-4">
					<div class="col-2">
						<img th:src="@{'/images/'+${imageurl}}" class="view-image mt-4" alt="" />
					</div>
					<div class="col mx-5 px-0">
						<div class="row m-2 p-2">
							<div class="col">
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Issue Id </label>
									<input type="text" name="isbn" th:value="${obj.issueId}" id="" class="form-control"
										readonly placeholder="">
								</div>
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Book Id </label>
									<input type="text" name="author" id="" th:value="${obj.bookId}" class="form-control"
										readonly placeholder="">
								</div>
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Title </label>
									<input type="text" name="title" id="" th:value="${obj.title}" class="form-control "
										readonly placeholder="">
								</div>
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Student Id </label>
									<input type="text" name="publisher" id="" th:value="${obj.studId}"
										class="form-control" readonly placeholder="">
								</div>
							</div>
							<div class="col">
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Student Name </label>
									<input type="text" name="edition" readonly th:value="${obj.name}" id=""
										class="form-control " placeholder="">
								</div>
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Book Issued Date </label>
									<input type="text" name="category" th:value="${obj.issueDate}" id=""
										class="form-control " readonly placeholder="">
								</div>
								<div class="form-group mt-1">
									<label for="" class="labels mt-1">Book Return Date</label>
									<input type="text" name="cost" id="" th:value="${obj.returnDate}"
										class="form-control " readonly placeholder="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block th:if="${viewFields}=='false'">
		<div class="text-center mt-4">
			<img src="/img/Nooo.jpg" alt="" style="height: 410px; width: 35em;" />
		</div>
	</th:block>
	<footer th:replace="~{student/studentBase::footers}"></footer>
</body>

</html>